<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="CoffeeShopBDEntities" connectionString="metadata=res://*/Models.CoffeeShopDBModel.csdl|res://*/Models.CoffeeShopDBModel.ssdl|res://*/Models.CoffeeShopDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\CoffeeShopBD.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>